/******************************************************************************
 * Name        : jtable jQuery plug-in 'Light color - Gray' theme
 * Author      : Halil İbrahim KALKAN
 * Description : This file defines 'gray' colors for jtable light color theme.
 *****************************************************************************/

/* IMPORTS *******************************************************************/

@import '../jtable_lightcolor_base.css';

/* MAIN ELEMENTS *************************************************************/

/* A div that contains title of the table (if any title supplied in options) */
div.jtable-title
{
	background: #dedede; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(186,186,186,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(186,186,186,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(186,186,186,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(186,186,186,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(186,186,186,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(186,186,186,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */
    border-color: #949494;
}

div.jtable-title-text 
{
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

/* PAGING ********************************************************************/

/* Active/current page link */
.jtable-page-number-active
{
    background-color: #8e8e8e;
    border-color: #5f5f5f;
}

/* ROWS **********************************************************************/

/* Selected row */
table.jtable tr.jtable-row-selected,
table.jtable tr.jtable-row-selected:hover
{
    background-color: #8e8e8e;
}

/* ROW ANIMATIONS ***********************************************************/

/* A 'new created row' style for animation */
table.jtable tr.jtable-row-created
{
    background-color: #8e8e8e;
}

/* An 'updated row style' for animation */
table.jtable tr.jtable-row-updated
{
    background-color: #8e8e8e;
}

/* A 'deleting row style' for animation */
table.jtable tr.jtable-row-deleting
{
    background-color: #8e8e8e;
}

/* COMMAND BUTTONS ***********************************************************/

/* 'add new record' link */
span.jtable-add-record a
{
    color: #5f5f5f;
}

/* BUSY MESSAGE AND PANEL ****************************************************/

/* A div that contains a message while table UI is busy */
div.jtable-busy-message
{
    border-color: #5f5f5f;
    background: url('loading.gif') no-repeat;
    background-color: #8e8e8e;
    background-position: 5px;
}